<h1>自分の題名</h1>
<h3>一覧ページ</h3>
<%= form_tag({controller:"posts",action:"index"}, method: :get) do %>
  <% Tag.all.each do |t| %>
      <li><%= check_box :tag_ids, t.name %><%= t.name %></li>
  <% end %>
  <%= submit_tag '検索' %>
<% end %>

<%= link_to "新規投稿へ", new_post_path %>
<div class="posts-container">
  <% if user_signed_in? %>
    <%= link_to "マイページへ", user_path(current_user.id) %>
  <% end %>
  <% @posts.each do |t| %>
    <%= image_tag t.image_url, size: "250x200" if t.image? %>
    <div class="post">
      <%= image_tag t.image_url, size: "250x200" if t.image? %>
      <%= t.user.email %>
      <%= t.name %>
      <%= t.comment %>
      <%= t.user_name %>
      <% t.tags.each do |tag| %>
        <span><%= tag.name %></span>
    <% end %>
      <% if user_signed_in? %>
      <% if current_user.already_liked?(t) %>
          <%= button_to post_like_path(id: t.id, post_id: t.id), method: :delete do %>
            <i class="fas fa-heart"></i><%= t.likes.count %>
          <% end %>
      <% else %>
          <%= button_to post_likes_path(id: t.id, post_id: t.id), method: :post do %>
            <i class="far fa-heart"></i><%= t.likes.count %>
          <% end %>
      <% end %>
  <% else %>
  <i class="far fa-heart"></i><%= t.likes.count %>
  <% end %>
    </div>
  <% end %>
</div>