<h1>(ngeek)</h1>
<h3>新規投稿ページ</h3>
<%= form_for @post do |f| %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, :size => 30 %>
  </div>

  <div class="field">
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>

  <div class="field">
    <%= f.label :comment  %>
    <%= f.text_area :comment, :size => "30x2" %>
  </div>

  <div class="field">
    <%= f.label :user_name %>
    <%= f.text_field :user_name, :size => 30 %>
  </div>
  <div class='form-group'>
  <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %>
      <div class='form-check'>
          <%= tag.label class: 'form-check-label' do %>
              <%= tag.check_box class: 'form-check-input' %>
              <%= tag.text %>
          <% end %>
      </div>
  <% end %>
</div>
  <%= f.submit "投稿する" %>

  

<% end %>
  
<%= link_to "一覧に戻る", posts_path %>